assets/ledl_standard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EcosistemaLEDL">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Arquitecto" type="xs:string"/>
        <xs:element name="ORCID" type="xs:string"/>
        <xs:element name="ValidacionForense" type="xs:boolean"/>
        <xs:element name="Version" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
